# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/

# Virtual environments
.env
venv/
.venv/
env/

# Jupyter Notebooks
.ipynb_checkpoints/

# ML outputs (большие файлы — не в git)
outputs/
checkpoints/
/data/
wandb/
*.safetensors
*.bin
*.pt
*.pth

# Hugging Face cache
.huggingface/

# Secrets
.env
*.env.local
**/kaggle.json
**/hf.json

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
